<div class="content">
    <div class="container">
        <div class="banner">
            <div class="overlay"></div>
            <div class="info">
                <h3>Let's make conversation <br> with Pleasuredomes.ai! </h3>
                <button class="btn btn-light small-font" [routerLink]="'/personal-info'">Get Start Now</button>
            </div>
        </div>
        <div class="about-us-container mt-5">
            <h3>About Us</h3>
            <p>
                Our AI website is designed to feel like chatting with a real person, offering a seamless and engaging experience for users. With advanced natural language processing capabilities, it can understand and respond to a wide range of queries, making interactions
                feel natural and intuitive. Whether you're seeking information, looking for recommendations, or just wanting to have a friendly chat, our AI is here to help. It can share thoughts, crack jokes, and even engage in meaningful conversations,
                making the experience enjoyable and interactive.
            </p>
        </div>
        <div class="info-container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-box">
                        <div class="info-txt">
                            <h5>Have Fun</h5>
                            <p>Offers lifelike conversations for leisure. It provides personalized and entertaining dialogue, perfect for enjoyable interactions in your free time.
                            </p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box conversation-bg">
                        <div class="info-txt">
                            <h5>Make Conversation & Discuss</h5>
                            <p>Provides a supportive environment where users can seek advice and discuss their problems, feeling as though they're conversing with a trusted friend.
                            </p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>